/* --- 1. Typography --- */
body {
	line-height: 35px;
	font-family: sans-serif;
	font-size: 35px;
	font-weight: 500px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/* --- 2. navigation --- */
 header {
 	width: auto;
 	height: 50px;
 	padding: 15px;
 	word-wrap: wrap;
	background-color: hsl(195, 75%, 15%);
 }
 
header a {
 	display: inline-block;
 	font-size: 24px;
 	text-decoration: none;
 	color: hsl(35, 85%, 45%);
}

.homeLink {
	font-weight: 1200px;
	display: inline-block;
	float: left;
	clear: both;
	letter-spacing: 0.125px;
	font-size: 44px;
	color: hsl(35, 85%, 45%); 
}

.nav_bar {
	float: right;
	padding-left: 300px;
 	box-sizing: border-box;
 	position: relative;
 	top: -40px;
 	z-index: 10;
}

.nav_bar ul li {
	float: left;
 	width: 200px;
 	height: 100%;
 	margin: 0 auto;
 	list-style: none;
 	font-weight: bold;
 	letter-spacing: 2px;
 	position: relative;
 }

.nav_bar ul li a{
 	width: 300;
 	float: left;
 	text-align: center;
 	padding: 15px 0;
 	margin-right: 10px;
 	cursor: pointer;
 	/*transition: all 0.4s ease;*/
}

.nav_bar ul li a:hover {
   color: hsl(15, 85%, 35%);
}

#openElement {
	display: block;
	background: url(people.jpg);
	background-repeat: round;
	height: 620px;
	margin-top: -5px;
	position: sticky;
	top: -8em;
	z-index: 1;
}

#openElement p {
	color: hsl(15, 85%, 45%);
	display: inline-block;
	position: absolute;
	left: 100px;
	top: 60px;
}

#middleText {
	background: hsl(0, 0%, 90%);
	display: block;
	position: sticky;
	width: 100%;
	letter-spacing: 5px;
	padding: 25px 0;
	z-index: 5;
}

#centerElement {
	display: inline-block;
	font-size: 45px;
	margin-top: 30px;
	width: 100%;
	padding: 24px;
	line-height: 1.225em;
	box-sizing: border-box;
	background-color: hsl(0, 0%, 90%);
	color: hsl(195, 75%, 15%);
	position: sticky;
	top: auto;
	bottom: -1000px;
	z-index: 3;
}

#centerElement p, #centerElement .highlight {
	text-align: justify;
}

#centerElement .highlight {
	width: 50%;
	box-sizing: border-box;
	color: hsl(15, 85%, 35%);
	position: relative;
	top: -25px;
	left: 600px;
}

#c2A {
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 30px;
	width: 100%;
	font-size: 34px;
	font-weight: bolder;
	line-height: 1.225em;
	box-sizing: border-box;
	display: block;
	text-align: justify;
 	padding-left: 45px;
	background: hsl(0, 0%, 90%);
	color: hsl(195, 75%, 15%);
	position: sticky;
	top: 0px;
	z-index: 4;
}

#c2A h1 {
	font-size: 50px;
	color: hsl(15, 85%, 35%);
}

#c2A a {
	font-size: 65px;
	text-decoration: none;
	list-style: none;
 	color: hsl(15, 85%, 35%);
 }	

 #bottomLayer {
 	margin-top: 50px;
 	background: hsl(195, 75%, 15%);
 	width: 100%;
 	padding-bottom: 15px;
 	padding-top: 15px;
 	color: hsl(0, 0%, 90%);
 }

 #bottomLayer ul li{
 	line-height: 42px;
 	list-style: none;
 	text-decoration: none;
 }

 #bottomLayer ul li:hover {
 	color: hsl(15, 85%, 35%);
 }

 #bottomLayer {
 	display: inline-flex;
 	flex: 2 0 650px;
 }

 #bottomLeft {
 		float: left;
 }
 }

 #bottomRight {
 		float: right;
 }
